{% extends "userhead.html" %}
{% load static %}
{% block content %}
           
<div class="right_col" role="main">
<table class="table table-responsive table-striped " width="100%" style="margin-bottom:10px;">
    <thead class="bg-primary text-white">
    <tr class="table-dark">
        <th style="  color:white;" >Sl.No.</th>
        <th style="  color:white;">Name</th>
        
        <th style="  color:white;" >Phone Number</th>
        
        <th style="  color:white;">User Blood Group</th>
        
        <th style="  color:white;" >District</th>
        
    </tr>
    </thead>
    {% for d in data %}
  
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{d.don.fname}} {{d.don.lname}}</td>
      
        <td>{{d.don.ph_no}}</td>
        
        <td>{{d.don.blood_grp}}</td>
        
        <td>{{d.don.district}}</td> 
        
        
        <td>
            
      <!--  -->
      <!-- reject -->
     

          </td>


        
 
    </tr>
    {% endfor %}
        
</table>

</div>

{% endblock %}